body {
    position: relative;
    width: 100%;
    /* height: 2951px; */
    background-color: #f2f2f2;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 8px 8px 8px;
}

.container-wrapper {
    max-width: 1440px;
}

.container {
    position: relative;
    width: auto;
    margin: 0 5% 5% 5%;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
}

.border {
    border: 1px solid;
}


li {
    list-style: none;
    text-indent: 0;
    list-style-position: initial;
}

ul {    
    margin-block-start: 0;
    margin-block-end: 0;    
    padding-inline-start: 0;
}

a {
    text-decoration: none;   
}

button {
    border: none;
    outline: none;
}

.color-gray {
    color: #727274
}

.color-white{
    color: #ffff;
}

.nav-bar {
    max-width: 1440px;
    width: 90%;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 1rem;
    position: fixed;
    background-color: whitesmoke;
    z-index: 10;
}

.nav-list {
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

.nav-list-item a{
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}

.hide{
    display:none;  
}

.logo {
    font-weight: 800;
    font-size: 2rem;
    color: rgb(117, 82, 82);
}

.intro {
    padding-top: 6rem;
}

.intro, .intro-article {
    display: flex;
    flex-direction: column;    
}

.intro-article-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;   
}

.intro-article-text {
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
}

.my-works-network {
    display: flex;
    flex-direction: column;
}

.works-network-title {
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-right: 1rem;   
}

.works-newtwork-list {   
    display: flex;
    flex-direction: row;
    align-items: center;    
}

.soc-icon {
    height: fit-content;
    padding-right: 1rem;
}

.soc-svg {
    width: 35px;
    height: 35px;
}

.best-work-grid{
   height: fit-content;
}

.best-works-title {
    font-size: 28px;
    font-weight: 800;
    line-height: 105.3%;
    margin-block-start: 1.5em;
    margin-block-end: 1.5em;
}

.best-work {    
    margin-bottom: 2rem;
    position: relative;    
}

.best-work-view {
    width: 100%;
    height: 240px;
}

.view1 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 98.35%), url(assets/back-images/img1.jpeg);
}

.view2 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 98.35%), url(assets/back-images/img2.jpeg);
}

.view3 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 98.35%), url(assets/back-images/img3.jpeg);
}

.view4 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 98.35%), url(assets/back-images/img2.jpeg);
}

.view5 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 98.35%), url(assets/back-images/img1.jpeg);
}

.view1, .view2, .view3, .view4, .view5 {
    background-repeat: no-repeat;
    background-position: initial;
    object-fit: cover;
}

.work-title {
    color: white;
    font-weight: 700;
    font-size: 22px;
    line-height: 37.5px;
    margin: 5% 0 0 10%;
}

.best-work-tools {
    display:flex;
    flex-flow: wrap;
    margin: 1rem 0 0.5rem 0;         
}

.tool {
    background-color: #423b39;
    color: white;
    margin: 0 0.5rem 0.5rem 0;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
}

.see-btn {
    width: 100%;
    background-color: #f6855b;
    padding: 0.8rem 0 0.8rem 0;
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 16px;
    line-height: 105.3%;
}

.a, .b, .c, .d, .e {
    width: 100%;
    /* height: 100px;     */
}

#best-work-detail1, #best-work-detail2, #best-work-detail3, #best-work-detail4, #best-work-detail5 {
    display: none;
    position: absolute;    
    left: 10%;
    width: 80%;
    background-color: white;
}

#best-work-detail1 {
    top: 20%;    
}

#best-work-detail2 {
    top: 31%;
}

#best-work-detail3 {
    top: 42%;
}

#best-work-detail4 {
    top: 53%;
}

#best-work-detail5 {
    top: 64%;
}

.screen {
    height: 40vw;
    
    position: relative;
}

.s1 {
    background-image: url("assets/work-images/twitter-redesign.png");
}

.s2 {
    background-image: url("assets/work-images/concert-frontend.png");
}

.s3 {
    background-image: url("assets/work-images/code-linter.png");
}

.close-btn {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f6855b;
}

.details {
    width: 100%;   
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.screens-btns-wrapper, .detail-article {
    width: 90%;    
}


.small-screens {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 0 1rem 0;
}

.screen-item {
    width: 31%;
    height: 12vw;
    background-color: red;
}

.see-btns {
    display: flex;
    flex-direction: column;
}

.btn {
    padding: 1rem 0 1rem 0;
    margin-bottom: 0.5rem;
    position: relative;
    font-weight: 700;
    font-size: 16px;
    line-height: 105.3%;
    background-color: #f6855b;    
}

.btn-p {
    text-align: center;
}

.btn-icon {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;    
}

.article-title {
    font-weight: 800;
    font-size: 28px;
    line-height: 105.3%;
}

.detail-tools {
    height: fit-content;
}

.detail-text {
    font-size: 16px;
    line-height: 24px;
}

.about {
    display: flex;
    flex-direction: column;
}

.about-title {
    font-weight: 800;
    font-size: 28px;
    line-height: 105.3%;
}

.about-text {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 1rem;
}

.about-me {
    margin-bottom: 3rem;
}

.about-me, .about-list {
    width: 100%;
    /* height: 400px; */
    text-align: left;
}

.language, .frameworks{
    border-bottom: 1px solid #cfd2da;
    padding-bottom: 2.5rem;
}

.skills{
    padding-bottom: 2.5rem;
}

.language-list, .frameworks-list, .skills-list {
    display: flex;
    flex-flow: wrap;
}

.resume-btn {
    background-color: #f6855b;
    color: white;
    padding: 1rem 3rem 1rem 3rem;
}

.lang-list-item, .frameworks-list-item, .skills-list-item {
    padding-right: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 212%;
}

.contact{    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6855b;
    padding-top: 3rem;
}


.contact-title, .contact-text, .form, .submit {
    width: 90%;
    text-align: center;
}

.contact-title {
    font-weight: 800;
    font-size: 28px;
    line-height: 105.3%;
}

.contact-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.form{
    overflow: hidden;
}

.contact-links {
    margin-bottom: 1rem;
}

.name-email {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.name, .email {
    width: 100%;
    height: 3rem;
    margin-bottom: 1rem;
}

.text-area {
    width: 100%;
    height: 158px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: initial;    
}

.submit {
    width: 100%;
    height: 58px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16.85px;
    background-color: black;
    margin-bottom: 2rem;
}

.email {
    font-size: 16px;
    line-height: 24px;
}

.copyright {
    width:90%;
    font-size: 16px;
    line-height: 24px;
    padding: 2rem 0 2rem 0;
    text-align: center;
    border-top: 1px solid;
    border-color: #ffa07d;
}

@media screen and (min-width: 769px) {
    /* * {
      max-width: 1440px;
    } */

    .nav-bar {
        padding-top: 2rem;
    }

    .nav-list {
        width: 40%;        
    }

    .nav-list-item a {
        font-size: 18px;
    }

    .hide{
        display:block;  
    }

    .logo {
        font-size: 3rem;
    }

    .intro {
        width: 100%;
    }    

    .intro-article {
        width: 60%;    
    }

    .intro-article-title {
        font-family: 'Poppins', sans-serif;
        font-weight: 800;
        font-size: 68px;
        line-height: 105.3%;
    }

    .intro-article-text {       
        font-size: 18px;
        line-height: 27px;
    }

    .my-works-network {        
        flex-direction: row;
    }

    .works-network-title {       
        font-size: 18px;
        line-height: 27px;    
    }

    .about {
        display: flex;
        flex-direction: column;
    }

    .best-work-grid{ 
        height: 640px;
        display: grid;
        gap: 20px;      
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }

    .best-works-title {
        font-size: 36px;
    }

    .best-work {
        margin-bottom: 0;
        position: relative;        
    }
    
    .best-work-view {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .work-title {
        font-size: 36px;
        line-height: 54px;
    }
    .h1-s {
        font-size: 26px;
    }
    
    .best-work-tools {
        position: absolute;
        top: 30%;
        left: 10%; 
    }

    .see-btn {
        width: 200px;
        height: 50px;
        position: absolute;
        bottom: 10%;
        left: 10%;
    }

    .a {
        grid-column: 1/4;
        grid-row: 1/4;
        height: 100%;
    }

    .b {
        grid-column: 4/7;
        grid-row: 1/4;
        height: 100%;
    }

    .c {
        grid-column: 1/3;
        grid-row: 4/6;
        height: 100%;        
    }

    .d {
        grid-column: 3/5;
        grid-row: 4/6;
        height: 100%;
    }

    .e {
        grid-column: 5/7;
        grid-row: 4/6;
        height: 100%;
    }

    .c .tool, .d .tool, .e .tool {
        display: none;
    }

    #best-work-detail1, #best-work-detail2, #best-work-detail3, #best-work-detail4, #best-work-detail5 {
        top: 40%;
    }

    .screens-btns-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .small-screens {
        width: 40%;
    }

    .screen-item {        
        height: 5vw;        
    }

    .see-btns {
        margin-top: 1rem;
        width: 30%;
    }
    
    .btn {
        padding: 0.5rem 0 0.5rem 0;        
    }

    .article-title {
        font-size: 36px;
    }

    .about {
        display: flex;
        flex-direction: row;
    }
    
    .about-me, .about-list {
        width: 50%;    
    }

    .about-title, .about-text {
        width: 90%;
    }

    .about-title {
        font-size: 36px;
    }

    .contact-title, .contact-text, .form {
        width: 50%;        
    }

    .contact-title {
        font-size: 38px;
    }

    .name-email {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .name, .email {
        width: 47%;
    }

    .email {
        display: flex;
        align-items: center;
    }

    .contact-links {
        width: fit-content;
        display: flex;
        flex-flow: wrap;
        align-items: center;
    }

    .my-email {
        margin-right: 1rem;
    }
}